 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}img{
    width: 260px;
    border-radius: 10px;
    margin-top: 10px;
}
body{
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-weight: 400;
    flex: 1;
    height: 100vh;
    background:  hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 290px;
    height: 420px;
    background:  hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}
.main-heading{
    font-size:20px ;
    padding: 12px;
     /* margin:12px  ;  */
    text-align: center;
    color: hsl(217, 39%, 27%);
    
    
}
p{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    opacity: 50%;
    color: hsl(220, 15%, 55%);
}


